PORT=3000
API_TOKEN=token de segurança para a api, será utilizada caso o 'requireToken' seja true no config.json
RCON_PASSWORD=senha do rcon dos seus servidores
URL_DISCORD_WEB_HOOK=url do webhook do discord caso queira fazer a integração requer 'enableDiscord' true no config.json
RADMIN_IP=ip do radmin
FRONTEND_URL=url do frontend